@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Manrope';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg.png);
    background-position: top right;
    background-size: 511px 841px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .image img {
    width: 603px;
    height: 573px;
    position: absolute;
    bottom: 80px;
    right: 206px;
}

.hero .txt h5 {
    color: #FF9900;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero .txt h1 {
    font-size: 54px;
    font-weight: 800;
}

.hero .txt {
    z-index: 3;
}

.sec {
    margin-bottom: 20px;
}


/* .hero .txt {
    margin-left: 70px;
} */

.hero .txt p {
    font-size: 17px;
    font-weight: 400;
    color: #31353B;
    margin-bottom: 40px;
    width: 490px;
}

form {
    position: relative;
    display: flex;
    align-items: center;
}

.email {
    height: 86px;
    width: 586px;
    outline: none;
    border: 1px solid #DADADA;
    padding: 30px;
    padding-left: 82px;
    font-size: 20px;
    font-family: 'Manrope';
    margin-right: 0;
}

.ic {
    position: absolute;
    left: 30px;
    top: 30px;
}

.submit {
    width: 188px;
    height: 86px;
    background-color: #F85A47;
    color: white;
    outline: none;
    font-size: 17;
    font-weight: bold;
    transform: translateX(-2px);
    border: none;
    cursor: pointer;
}

.prtners {
    position: absolute;
    bottom: 5px;
    left: 200px;
    width: 80%;
}

.gal {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.gal img {
    margin-right: 60px;
}

.prtners h6 {
    font-weight: 400;
    font-size: 17px;
}

.soc {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    right: 100px;
    align-items: center;
}

.soc img {
    margin-top: 30px;
}

.soc a:hover img {
    transform: scale(1.1);
}

.menu {
    display: none;
}

nav {
    position: absolute;
    width: 100vw;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    z-index: 3;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 80px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

nav h1 {
    font-weight: 800;
    font-size: 23px;
}

nav ul li:nth-child(1) a {
    text-decoration: underline;
}

.how {
    height: 387px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
}

.how-main-h {
    text-align: center;
    font-size: 40;
    font-weight: 700;
    margin-bottom: 70px;
}

.how .how-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.how .how-container .how-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how .how-container .how-item p {
    text-align: center;
    margin-top: 20px;
}

.how .how-container .how-item h5 {
    font-size: 22;
    font-weight: 700;
}

.deals {
    width: 100%;
    height: 797px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px;
}

.deals .header-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.deals .header-and-button h1 {
    font-size: 40;
    font-weight: 700;
}

.deals .header-and-button a {
    width: 200px;
    height: 65px;
    background-color: #F85A47;
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding-top: 17px;
}

.list ul {
    list-style: none;
    display: flex;
    margin: 50px 0;
}

.list ul li {
    margin-right: 50px;
}

.list ul li a {
    text-decoration: none;
    color: black;
    font-size: 19;
}

.deals-gla .gal-item {
    height: 300px;
    width: 370px;
    border-radius: 5px;
    background-image: url(images/Image\ 03.jpg);
    background-size: cover;
    padding-top: 20px;
}

.deals-gla {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.deals-gla .gal-item a {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    transform: translateY(20px);
    margin-left: 20px;
}

.deals-gla .gal-item:nth-child(2) {
    background-image: url(images/Image\ 02.jpg);
}

.feature {
    width: 100%;
    height: 800px;
    padding: 0 200px;
    overflow-y: hidden;
    margin-top: 100px;
}

.feature .f-header {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.big-but {
    white-space: nowrap;
}

.feature .feature-main {
    position: relative;
    height: 650px;
    background-color: #F1FFFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.feature .feature-main .my-ima {
    position: absolute;
    bottom: -200px;
}

.feature .ima {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid-cont {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: start;
    margin-bottom: 40px;
}

.feature-main-container {
    margin-top: 80px;
}

.feature-main-container h1 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 30px;
}

.feature-main-container>p {
    margin-bottom: 30px;
    line-height: 25px;
}

.grid-cont h6 {
    font-size: 17px;
    font-weight: bold;
}

.grid-cont p {
    font-size: 17px;
}

.feature-main-container a {
    background-color: #F85A47;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
}

.feature-main {
    margin-top: 100px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 684px;
    padding: 0 200px;
    margin-top: 150px;
}

.reviews>h1 {
    font-size: 40;
    font-weight: 600;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}

.card {
    padding: 40px 30px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.card>img {
    margin-bottom: 15px;
}

.card>p {
    margin-bottom: 15px;
}

.card .person {
    display: flex;
    align-items: center;
}

.card .person h6 {
    font-size: 16px;
    font-weight: bold;
}

.card .person p {
    font-size: 14px;
    color: #666666;
}

.card .person img {
    margin-right: 15px;
}

.other-partners {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.other-partners .review-gal {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-partners p {
    color: #333333;
}

.other-partners p a {
    color: #2CBDE7;
}

footer {
    position: relative;
    width: 100%;
    height: 802px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-nav {
    top: unset;
    bottom: 120px;
}

footer form {
    height: 124px;
    width: 686px;
    position: relative;
    box-shadow: 0 30px 20px 5px rgba(0, 0, 0, .1);
}

footer form label {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 17px;
    font-weight: 500;
    color: #31353B;
}

footer form .subi {
    position: absolute;
    background-color: #F85A47;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    height: 72px;
    width: 167px;
    border: none;
    right: 30px;
}

footer form .email {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    border: none;
}

footer>h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}

footer>h5 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 50px;
}

footer>p {
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    font-weight: bold;
}

.line {
    width: 889px;
    height: 1px;
    border-radius: 1px;
    background-color: #DEDFE1;
    margin-top: 250px;
}

@media only screen and (max-width:1349px) {
    nav {
        padding: 0 130px;
    }
    /* .hero {
        justify-content: center;
    } */
    .hero .prtners {
        left: 10%;
        right: 10%;
    }
    .hero .image img {
        width: 500px;
        height: unset;
        right: 120px;
        bottom: 120px;
    }
    .gal img {
        width: 70px;
    }
    .soc {
        right: 60px;
    }
    .hero .txt p {
        color: #31353B;
    }
    .hero .txt .email {
        width: 519px;
    }
    .hero .txt h1 {
        font-size: 40px;
    }
    .hero .txt p {
        width: 400px;
    }
    .deals-gla .gal-item {
        width: 270px;
        height: 210px;
        background-size: cover;
        margin-left: 10px;
    }
    .how {
        margin-left: 20px;
        margin-right: 20px;
    }
    .how-container>img {
        width: 100px;
    }
    .feature {
        width: 100%;
        padding: 100px;
        height: fit-content;
    }
    .reviews {
        padding: 103px;
    }
    .reviews .card {
        margin-left: 10px;
        padding: 20px;
    }
}


/* @media only screen and (max-width:768px) {
    nav {
        padding: 0 70px;
    }
    .hero .head-img {
        width: 70%;
        height: 495px;
        left: 15%;
        right: 15%;
        display: none;
        /* filter: grayscale(50%) brightness(70%); 


 }
.hero .txt {
    align-self: center;
    text-align: center;
}

}
*/

@media only screen and (max-width:1138px) {
    nav ul li {
        margin-left: 40px;
    }
    .hero .image img {
        width: 430px;
        right: 130px;
        bottom: 120px;
    }
    .hero {
        background-size: 430px 841px;
    }
    .hero .txt .email {
        width: 453px;
    }
    .gal img {
        width: 60px;
    }
    /* .deals-gla .gal-item {
        width: 230px;
        height: 210px;
        background-size: cover;
        margin-left: 10px;
    } */
    .deals {
        padding-left: 100px;
        padding-right: 100px;
    }
    .feature {
        padding: 40px;
        height: fit-content;
    }
    .review-gal img {
        width: 50px;
    }
    footer {
        margin-top: 100px;
    }
}

@media only screen and (max-width:1048px) {
    .hero .image img {
        width: 410px;
        right: 90px;
        bottom: 120px;
    }
    .txt h5 {
        font-size: 16px;
    }
    .hero .txt p {
        font-size: 16px;
        width: 40%;
    }
    .hero .txt h1 {
        font-size: 30px;
    }
    .hero .txt {
        margin: 90px;
    }
    .hero {
        background-size: 360px 841px;
    }
    nav {
        padding: 0 90px;
    }
    .how-container>img {
        display: none;
    }
    .how-container p {
        font-size: 14px;
        width: 200px;
    }
    .ima {
        width: 350px;
    }
    .feature .feature-main .my-ima {
        width: 337px;
        bottom: 100px;
        left: 30px;
    }
    .feature {
        padding: 10px;
    }
    .deals {
        padding: 50px;
        margin-top: 300px;
    }
    .how {
        padding: 50px;
    }
    .soc {
        right: 40px;
    }
    .hero .txt .email {
        width: 300px;
    }
}

@media only screen and (max-width:819px) {
    .hero .image img {
        position: static;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        height: 800px;
        background-size: 50% 100%;
    }
    .hero .txt {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }
    .hero .txt p {
        width: 60%;
    }
    .hero .txt h1 {
        font-size: 54px;
    }
    .hero .image img {
        display: none;
    }
    .soc {
        top: 300px;
    }
    .menu {
        display: block;
    }
    nav .first {
        display: none;
    }
    .gal img {
        margin-right: 20px;
    }
    .prtners {
        bottom: 30px;
    }
    .how {
        height: fit-content;
        margin-bottom: 0;
        margin: 0;
        padding: 20px;
    }
    .how .how-container {
        flex-direction: column;
    }
    .how .how-main-h {
        font-size: 40px;
    }
    .how p {
        font-size: 18px;
        width: 300px;
    }
    .how h5 {
        font-size: 14px;
    }
    .how-item {
        margin-bottom: 100px;
    }
    .deals {
        margin-top: 200px;
        height: fit-content;
    }
    .deals .header-and-button a {
        width: 160px;
        height: 55px;
        font-size: 12px;
        margin-left: 10px;
    }
    .deals .header-and-button {
        margin-bottom: 20px;
    }
    .deals-gla {
        flex-direction: column;
        align-items: center;
    }
    .deals-gla .gal-item {
        width: 300px;
        height: 200px;
        margin-bottom: 30px;
    }
    .list {
        text-align: center;
    }
    .feature .feature-main {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 30px;
    }
    .feature .feature-main .my-ima {
        top: 200px;
        /* left: 70%; */
        right: 10%;
        left: 10%;
    }
    .feature .ima {
        margin-bottom: 159px;
    }
    .feature-main-container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-main-container>p {
        letter-spacing: 1px;
        font-size: 17px;
    }
    .grid-cont {
        justify-content: center;
        column-gap: 48px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .row .card {
        margin-bottom: 30px;
    }
    .reviews {
        height: fit-content;
        padding: 50px;
    }
    .other-partners {
        flex-direction: column;
        align-items: center;
    }
    .other-partners .review-gal {
        width: 100%;
        margin-bottom: 30px;
    }
    nav {
        padding: 0 60px;
    }
    footer>h1 {
        font-size: 35px;
    }
    footer form {
        height: 80px;
        width: 300px;
    }
    footer form .subi {
        font-size: 14px;
        height: 60px;
        width: 110px;
        right: 10px;
    }
    footer form .email {
        font-size: 16px;
        padding-left: 15px;
        padding-top: 35px;
    }
    footer form label {
        left: 15px;
        font-size: 14px;
        display: none;
    }
    /* .list ul {
        overflow-x: scroll;
    } */
}

@media only screen and (max-width:624px) {
    .hero .txt h1 {
        font-size: 40px;
    }
    .hero .txt p {
        text-align: center;
        width: 80%;
    }
    .hero .txt h5 {
        font-size: 18px;
    }
    .soc {
        display: none;
    }
    .hero .txt .email {
        height: 50px;
        width: 250px;
        padding: 15px;
        padding-left: 40px;
        font-size: 16px;
    }
    .submit {
        width: 100px;
        height: 50px;
        /* background-color: #F85A47;
        color: white;
        outline: none;
        font-size: 17;
        font-weight: bold;
        transform: translateX(-2px);
        border: none;
        cursor: pointer; */
    }
    .ic {
        left: 10px;
        top: 11px;
    }
    .gal img {
        margin-left: 10px;
        width: 40px;
    }
    .feature-main-container h1 {
        font-size: 25px;
    }
    .feature-main-container p {
        font-size: 16px;
        letter-spacing: unset;
    }
    .grid-cont h6 {
        font-size: 14px;
    }
    .grid-cont p {
        font-size: 14px;
    }
    nav {
        padding: 0 40px;
    }
    /* .feature-main-container a {
        font-size: 17px;
    } */
    footer>h5 {
        text-align: center;
    }
    .feature .feature-main .my-ima {
        width: 300px;
        left: 7%;
    }
}